/* ========================================================================================================================
Colors
======================================================================================================================== */

$accent: #166d95;
$accent-hover: #1b86b8;
$light: white;
$dark: black;
$dark-hover: rgb(44, 44, 44);
$grey:#a8a8a9;
/* ========================================================================================================================
Colors
======================================================================================================================== */